/* Colores */
:root {
    --black: #0D1117;        /* Color para el fondo principal */
    --darkBlue: #1E2A39;     /* Color para secciones importantes o componentes secundarios*/
    --electricBlue: #58A6FF; /* Color para enlaces, botones o acentuaciones */
    --steelBlue: #3A506B;    /* Color para bordes o separadores */
    --carbonGray: #21262D;   /* Color para contenedores o areas secundarias */
    --brillantCian: #56D7D9; /* Color para hoover o efectos interactivos */
    --blankGray: #C9D1D9;    /* Color para texto principal sobre fondo oscuro */
}

/* Estilo general para el body */
body {
    background-color: var(--black);
    color: var(--blankGray);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Header */
header {
    background-color: var(--carbonGray);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

header h1 {
    color: var(--blankGray);
    margin: 0;
}

.header-button {
    background-color: var(--electricBlue);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.header-button:hover {
    background-color: var(--brillantCian);
}

/* Container */
.container {
    background-color: var(--darkBlue);
    width: 90%;
    max-width: 900px;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px var(--electricBlue);
}

.container h1, h2 {
    color: var(--blankGray);
    margin-bottom: 20px;
}

.container label {
    display: block;
    margin-bottom: 5px;
    color: var(--blankGray);
}

.container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--steelBlue);
    border-radius: 5px;
    box-sizing: border-box;
}

/* Pie de página */
footer {
    background-color: var(--carbonGray);
    color: var(--blankGray);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Enlaces */
a {
    color: var(--electricBlue); /* Color para enlaces */
    text-decoration: none;
}

a:hover {
    color: var(--brillantCian); /* Efecto hover en enlaces */
}

/* Listas */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin-bottom: 10px;
}
